<div class="flex justify-center space-x-8 py-2 text-gray-600 sm:text-lg font-light">
  {% assign current = page.url %}
  {% assign defaultLink = "hover:text-gray-800 transition-colors" %}
  {% assign activeLink  = "bg-gradient-to-r from-orange-600 to-blue-600 bg-clip-text text-transparent" %}

  {% unless current == "/" %}
    <a
      href="/"
      class="
        {{ defaultLink }}
        {% if current == "/" %} {{ activeLink }} {% endif %}
      "
    >home</a>
  {% endunless %}

  <a
    href="/about/"
    class="
      {{ defaultLink }}
      {% if current == "/about/" %} {{ activeLink }} {% endif %}
    "
  >about</a>

  <a
    href="/works/"
    class="
      {{ defaultLink }}
      {% if current == "/works/" %} {{ activeLink }} {% endif %}
    "
  >works</a>
</div>