<div class="flex justify-center gap-4 pt-2">
  <a href="https://www.instagram.com/enr.que_" target="_blank" rel="noopener noreferrer" aria-label="Instagram"
     class="w-10 h-10 rounded-full shadow-lg bg-white flex items-center justify-center hover:opacity-80 transition">
    <img src="/assets/icons/instagram.svg" alt="Instagram" class="w-4 h-4">
  </a>

  <a href="https://www.linkedin.com/in/eebarragan" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn"
     class="w-10 h-10 rounded-full shadow-lg bg-white flex items-center justify-center hover:opacity-80 transition">
    <img src="/assets/icons/linkedin.svg" alt="LinkedIn" class="w-4 h-4">
  </a>

  <a href="https://www.youtube.com/@frozenmonkeylove" target="_blank" rel="noopener noreferrer" aria-label="YouTube"
     class="w-10 h-10 rounded-full shadow-lg bg-white flex items-center justify-center hover:opacity-80 transition">
    <img src="/assets/icons/youtube.svg" alt="YouTube" class="w-4 h-4">
  </a>

  <a href="{{ '/rips/onlyfans/' | relative_url }}" aria-label="OnlyFans">
     class="w-10 h-10 rounded-full shadow-lg bg-white flex items-center justify-center hover:opacity-80 transition">
    <img src="/assets/icons/onlyfans.svg" alt="OnlyFans (not really)" class="w-4 h-4">
  </a>
</div>