<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ '/assets/images/og-image.JPG' | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:image" content="{{ '/assets/images/og-image.JPG' | absolute_url }}">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.PNG">
  <link rel="stylesheet" href="/assets/css/site.css">

</head>
<body class="pt-2 bg-gray-50 text-gray-800 antialiased min-h-screen flex flex-col">

  <div class="border-b border-gray-200 pb-4 mb-4">
      {% include nav.html %}
    </div>

  <div class="flex-grow">
    <main class="max-w-3xl mx-auto px-4">
      {{ content }}
    </main>
  </div>

    {% include footer.html %}

</body>
</html>
